DOCKER_HUB_CREDENTIALS_ID=
DOCKER_HUB_REGISTRY=https://registry.hub.docker.com
GITHUB_PAT_CREDENTIALS_ID=
BASE_IMAGE_REGISTRY=
API_IMAGE_REGISTRY=
GROOVY_SCRIPTS_PATH=
DEPLOY_SSH_CREDENTIAL_ID=
DEPLOY_NODE_USER=
DEPLOY_NODE_IP=
API_ENV_FILE_ID=
DEPLOY_API_DIR=